.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  width: 200px;
  height: auto;
}

.Logo_big img {
  width: 384px;
}

@media (max-width: 768px) {
  .Logo img {
    width: 160px;
  } 

  .Logo_big img {
    width: calc(100% - 10px);
  }
}