@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --cell-width: 3rem;
  --border-width: 4px;
  --background-color: #f8f8f8;
  --text-color: #000000;
  --border-color: #3a3277;
  --active-color: #6772a9;
  --active-color-transparent: rgba(103, 114, 169, 0.5);
  --mistake-color: #fe5f55;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  :root {
    --cell-width: 2.2rem;
  }
}

.pencil-mark {
  position: absolute;
  font-size: 12px;
}

.pencil-mark_1 {
  top: 0;
  left: 4px;
}

.pencil-mark_2 {
  top: 0;
  left: 20px;
}

.pencil-mark_3 {
  top: 0;
  left: 36px;
}

.pencil-mark_4 {
  top: 16px;
  left: 4px;
}

.pencil-mark_5 {
  top: 16px;
  left: 20px;
}

.pencil-mark_6 {
  top: 16px;
  left: 36px;
}

.pencil-mark_7 {
  top: 32px;
  left: 4px;
}

.pencil-mark_8 {
  top: 32px;
  left: 20px;
}

.pencil-mark_9 {
  top: 32px;
  left: 36px;
}

@media (max-width: 768px) {
  .pencil-mark {
    font-size: 8px;
  }

  .pencil-mark_1 {
    top: 0;
    left: 4px;
  }

  .pencil-mark_2 {
    top: 0;
    left: 15px;
  }

  .pencil-mark_3 {
    top: 0;
    left: 26px;
  }

  .pencil-mark_4 {
    top: 14px;
    left: 4px;
  }

  .pencil-mark_5 {
    top: 14px;
    left: 15px;
  }

  .pencil-mark_6 {
    top: 14px;
    left: 26px;
  }

  .pencil-mark_7 {
    top: 26px;
    left: 4px;
  }

  .pencil-mark_8 {
    top: 26px;
    left: 15px;
  }

  .pencil-mark_9 {
    top: 26px;
    left: 26px;
  }
}
