@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --cell-width: 3rem;
  --border-width: 4px;
  --background-color: #f8f8f8;
  --text-color: #222;
  --border-color: #666;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
